<section>
    <div class="flex align-center">
        <h2>テスト設定</h2>
    </div>
    <div class="flex align-center">
        <%= form_for(@test) do |f| %>
            <h3>ジャンル</h3>
                <%= f.radio_button :genre, 'ENGTAN', :checked => true %>
                <%= f.label :genre, 'ENGTAN' %>
                <%= f.radio_button :genre, 'SELFTAN' %>
                <%= f.label :genre, 'SELFTAN' %>
                <%= f.radio_button :genre, 'random' %>
                <%= f.label :genre, 'ランダム' %>
            <h3>ステータス</h3>
                <%= f.radio_button :status, 'registered', :checked => true %>
                <%= f.label :status, 'registered' %>
                <%= f.radio_button :status, 'ongoing' %>
                <%= f.label :status, 'ongoing' %>
            <h3>単語数</h3>
                <%= f.radio_button :quantity, 10, :checked => true %>
                <%= f.label :quantity, 10 %>
                <%= f.radio_button :quantity, 50 %>
                <%= f.label :quantity, 50 %>
                <%= f.hidden_field :true_quantity, value: 0 %>
                <%= f.hidden_field :false_quantity, value: 0 %>
            <div class="flex align-center">
                <%= f.submit "テスト開始", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</section>