<section>
    <%= form_for(answer_test_path) do %>
        <table class="table-common">
            <thead>
				<tr>
					<th>単語</th>	
					<th>解答欄</th>
                    <th></th>
				</tr>
			</thead>
            <tbody>
                <% @words.each do |v|  %>
                    <tr>
                        <td><%= v[0] %></td>
                        <td><%= v[1] %></td>
                        <td><%= v[2] %></td>
                        <td><%#= text_field_tag "content", "", :placeholder =>"意味" %></td>
                    </tr>                
                <% end %>
            </tbody>
        </table>
        <div class="flex align-center">
            <%= submit_tag 'Show an answer', class: "btn btn-primary" %>
        </div>
    <% end %>
</section>