<%= form_for(word, url: url) do |f| %>
	<div class="flex">
		<table>
			<thead>
				<tr>
					<th>*は必須</th>	
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :name, "*単語" %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td><%= f.label :part_of_speech, "*品詞" %></td>
					<td><%= f.select :part_of_speech, Word.part_of_speeches.keys.map {|k| [I18n.t("enums.word.part_of_speech.#{k}"), k]} %></td>
				</tr>
				<tr>
					<td><%= f.label :meaning, "*意味" %></td>
					<td><%= f.text_field :meaning %></td>
				</tr>
				<tr>
					<td><%= f.label :sentence, "例文" %></td>
					<td><%= f.text_area :sentence, rows: 3 %></td>
				</tr>
				<tr>
					<td><%= f.label :memo, "メモ" %></td>
					<td><%= f.text_area :memo, rows: 3 %></td>
				</tr>
                <tr>
					<td><%= f.label :status, "ステータス" %></td>
					<td><%= f.select :status, Word.statuses.keys.map {|k| [I18n.t("enums.word.status.#{k}"), k]} %></td>
				</tr>
                <tr>
					<td><%= f.label :jenre, "ジャンル" %></td>
					<td><%= f.select :jenre, Word.jenres.keys %></td>
				</tr>
			</tbody>
		</table>
        <div>
			<%= f.label :image, "画像" %>
			<div class="image_field">
				<%= attachment_image_tag word, :image, format: "jpeg", id: "img_prev", fallback: "no-image.png"%>
				<span class="btn btn-file btn-info"><%= f.attachment_field :image %>画像選択</span>
			</div>
            <%= f.hidden_field :customer_id, value: current_customer.id %>

		</div>
		<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
