<div class="flex space-between word-index">
	<h2>単語一覧 (全<%= @all_words_count %>件)</h2>
	<h4><%= link_to "条件クリア", words_path, class: "btn btn-primary", remote: true %></h4>
</div>
<table class="index">
	<thead>
		<tr>
			<th>単語</th>
			<th>品詞</th>
			<th>意味</th>
			<th>例文</th>
			<th>メモ</th>
			<th>イメージ画像</th>
			<th>ステータス</th>
			<th>ムズイ</th>
			<th>ジャンル</th>
		</tr>
	</thead>
	<tbody>
		<% words.each do |word| %>
			<tr>
				<td ><%= link_to word.name, word_path(word.id) %></td>
				<td><%= link_to word.part_of_speech_i18n, words_path(part_of_speech: word.part_of_speech), remote: true %></td>
				<td ><%= word.meaning %></td>
				<td><%= word.sentence %></td>
				<td><%= word.memo %></td>
				<td><%= attachment_image_tag word, :image, fallback: "no-image.png", size:'100x100'%></td>
                <td><%= link_to word.status_i18n, words_path(status: word.status), remote: true  %></td>
                <td id="likes_buttons_<%= word.id %>">
					<%= render partial: 'public/favorites/favorite', locals: { word: word} %>
				</td>
                <td><%= link_to word.jenre, words_path(jenre: word.jenre), remote: true %></td>
			</tr>
		<% end %>
	</tbody>
</table>