<table id="index">
	<thead>
		<tr>
			<th>単語</th>
			<th>品詞</th>
			<th>意味</th>
			<th>例文</th>
			<th>メモ</th>
			<th>イメージ画像</th>
			<th>ステータス</th>
			<th>ムズイ</th>
			<th>ジャンル</th>
		</tr>
	</thead>
	<tbody>
		<% words.each do |word| %>
			<tr>
				<td ><%= link_to word.name %></td>
				<td><%= link_to word.part_of_speech_i18n, words_path(word.part_of_speech) %></td>
				<td ><%= word.meaning %></td>
				<td><%= word.sentence %></td>
				<td><%= word.memo %></td>
				<td><%= attachment_image_tag word, :image, format: "jpeg", id: "img_prev", fallback: "no-image.png", size:'100x100'%></td>
                <td><%= word.status_i18n %></td>
                <td><%= word.favorite %></td>
                <td><%= word.jenre %></td>
			</tr>
		<% end %>
	</tbody>
</table>