<section>
	<h2>単語詳細</h2>
	<table class="table-common">
		<thead>
			<tr>
				<th></th>	
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>単語</td>
				<td><%= word.name %></td>
			</tr>
			<tr>
				<td>品詞</td>
				<td><%= word.part_of_speech_i18n %></td>
			</tr>
			<tr>
				<td>意味</td>
				<td><%= word.meaning %></td>
			</tr>
			<tr>
				<td>例文</td>
				<td><%= word.sentence %></td>
			</tr>
			<tr>
				<td>メモ</td>
				<td><%= word.memo %></td>
			</tr>
			<tr>
				<td>画像</td>
				<td><%= attachment_image_tag word, :image, fallback: "no-image.png", size:'100x100' %></td>
			</tr>
			<tr>
				<td>ステータス</td>
				<td><%= link_to word.status_i18n, words_path(status: word.status), remote: true  %></td>
			</tr>
			<tr>
				<td>ムズい</td>
                <td id="likes_buttons_<%= word.id %>">
					<%= render partial: 'public/favorites/favorite', locals: { word: word} %>
				</td>
			</tr>
			<tr>
				<td>ジャンル</td>
                <td><%= link_to word.genre, words_path(genre: word.genre), remote: true %></td>
			</tr>
		</tbody>
	</table>
	<div class="flex align-center">
		<%= link_to "Edit", edit_word_path(word), class: "btn btn-success show" %>
		<%= link_to 'Continue to register', new_word_path, class: "btn btn-primary" %>
		<% if @word.genre == 'SELFTAN' %>
            <%= link_to 'Delete', admins_word_path(word), method: :delete, class: "btn btn-primary btn-del" %>
        <% end %>
	</div>
</section>