<% if flash[:alert] %>
    <div class="alert">
        <%= flash[:alert] %>
    </div>
<% end %>
<div class="main-visual"></div>
<div class="container top">
    <div class="row">
        <div class="col-lg-12">            
            <h2>
                ENGTAN is for engineers who would like to expand their English vocabularies<br>                
            </h2>
        </div>
    </div>
    <div class="row flex align-center">
        <h3>3つの特徴</h3>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>1<br>
                自分だけの単語帳を作る
            </h4>
            <div><%= image_tag(asset_path("vocabulary.jpg"), class:"feature-visual") %></div>
            <div>
                <h5>
                    わからない単語をコピペして保存する。<br>
                    その際に例文や写真、メモ（語呂合わせなど）を一緒に保存すると定着しやすい。
                </h5>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>2<br>
                英単語をテストできる
            </h4>
            <div><%= image_tag(asset_path("test.jpg"), class:"feature-visual") %></div>
            <div>
                <h5>
                    お好みの単語を選択し、テストできます。<br>
                    単語には3つのステータスがあり、テストで正解するごとに更新されます。(新規→暗記中→完了)
                </h5>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>3<br>
                品詞別に暗記できる
            </h4>
            <div><%= image_tag(asset_path("memory.jpg"), class:"feature-visual") %></div>
            <div>
                <h5>
                    Indexページで品詞別に出し分けが可能。<br>
                    難しいと思った単語にはムズイマークをつけて、復習に役立てられます。
                </h5>
            </div>
        </div>
    </div>
    <div class="row flex align-center">
        <%= link_to "Let's get started!!", about_path, class: "btn btn-primary" %>
    </div>
</div>