<section>
    <div class="flex align-center">
        <h3>会員の方はこちらから</h3>
        <% if @customer.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
                <ul>
                <% @customer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="flex align-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table-lg">
            <tbody>
                <tr>
                    <td><%= f.label :email, "メールアドレス" %></td>
                    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                </tr>
                <tr> 
                    <td><%= f.label :password, "パスワード" %></td>
                    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex align-center"> 
        <%= f.submit "Log in", class: "btn btn-primary btn-lg"%>
    </div>
    <% end %>
    </div>
    <div class="flex align-center">   
        <h6>
            登録がお済みでない方<br>
            <%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。<br>
        </h6>
    </div>
</section>