<!DOCTYPE html>
<html>
  <head>
    <title>ENGTAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <% if admin_signed_in? %>
      <header>
        <nav>
          <ul>
            <li><%= link_to image_tag("/assets/logo.png", class:"logo"), 'admin_top_path' %></li>
            <li><%= link_to '会員一覧', admin_customers_path %></li>
            <li><%= link_to '単語一覧', admin_words_path %></li>
            <li><%= link_to '単語登録', edit_admins_word_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            <li>  
                <%= form_tag(admin_search_path, method: :get) do %>
                  <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名 / 単語: 単語名" %>
                  <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "word" }) %>
                  <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
                  <%= submit_tag '検索', class: "btn btn-primary" %>
                <% end %>
              </li>
          </ul>
        </nav>
      </header>
    <% elsif customer_signed_in? %>
      <header>
        <nav>
          <ul>
            <li><%= link_to image_tag("/assets/logo.png", class:"logo"), 'mypage_path' %></li>
            <p>ようこそ、<%= current_customer.first_name %>さん!</p>
            <li><%= link_to '単語登録', edit_word_path %></li>
            <li><%= link_to '単語一覧', words_path %></li>
            <li><%= link_to 'マイページ', mypage_path %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
          </ul>
        </nav>
      </header>
    <% else %>
      <header>
        <nav>
          <ul>
            <li><%= link_to image_tag("/assets/logo.png", class:"logo"), '/' %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Profile', profile_path %></li>
            <li><%= link_to 'Sign in', new_customer_registration_path %></li>
            <li><%= link_to 'Log in', new_customer_session_path %></li>
          </ul>
        </nav>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>Copyright © ENGTAN Inc. All Rights Reserved.</footer>
  </body>
</html>